{% extends 'base.html.twig' %}

{% block title %}Modifier un évènement{% endblock %}

{% block body %}
    <div class="container mt-4 w-50">
        <h1 class="text-center">Modifier l'évènement</h1>

        {{ include('event/partials/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-warning my-3" href="{{ path('app_event_index') }}">Retour à la liste des évènements</a>
    </div>
{% endblock %}
