{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% include 'partials/_list_events.html.twig' %}
    </div>
{% endblock %}
