<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{ knp_menu_render('main') }}
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_profile') }}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
