<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% for file in encore_entry_css_files('main') %}
            <link rel="stylesheet" href="{{ preload(file, { as: 'style', importance: 'high' }) }}">
        {% endfor %}
    {% endblock %}
</head>
<body>
{% block content %}

    {% block navbar %}
        {% include 'partials/_navbar.html.twig' %}
    {% endblock %}

    {% include 'partials/_flash.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% include "partials/_flash.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
</body>
</html>
