{% extends 'mail/base_email.html.twig' %}

{% block header %}Erreur lors du paiement{% endblock %}

{% block email_content %}
    <div class="card mx-auto">
        <div class="card-header bg-warning text-center">
            <h2>Erreur lors du paiement</h2>
        </div>
        <div class="card-body">
            <p>Bonjour {{ user.firstname ~ ' ' ~ user.lastname }},</p>
            <p>Votre paiement à l'événement <strong>{{ event.title }}</strong> qui aura lieu le <strong>{{ event.startDate|date('d/m/Y H:i') }}</strong>à échoué.</p>
            <p>Merci de réessayer !</p>
        </div>
        <div class="card-footer text-center">
            <small>&copy; {{ "now"|date("Y") }} Projet S6 PHP Kohler Graber. Tous droits réservés.</small>
        </div>
    </div>
{% endblock %}