{% extends 'mail/base_email.html.twig' %}

{% block header %}Confirmation d'annulation{% endblock %}

{% block email_content %}
    <div class="card mx-auto">
        <div class="card-header bg-danger text-white text-center">
            <h2>Confirmation d'annulation</h2>
        </div>
        <div class="card-body">
            <p>Bonjour {{ user.firstname ~ ' ' ~ user.lastname }},</p>
            <p>Vous avez annulé votre inscription à l'événement <strong>{{ event.title }}</strong> qui était prévu pour le <strong>{{ event.startDate|date('d/m/Y H:i') }}</strong>.</p>
            <p>Nous espérons vous voir à un prochain événement.</p>
        </div>
        <div class="card-footer text-center">
            <small>&copy; {{ "now"|date("Y") }} Projet S6 PHP Kohler Graber. Tous droits réservés.</small>
        </div>
    </div>
{% endblock %}